<!DOCTYPE html>
<html>
	<head>
		<title>Add a new video</title>
	</head>
	<body>

		<h2>Add a new video</h2>
		<form action="/youtube" method="POST">
		  <label for="name">Name: </label><br>
		  <input type="text" name="name">
		  <br>
		  <br>
		  <label for="video-code">Video Code:</label>
		  <br>
		  <input type="text" name="video_code">
		  <br>
		  <br>
		  <input type="submit" value="Submit">
		</form> 

	</body>
</html>